<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="col-md-8">
	<form method="post"  action="/cargar_db" >
	<div class="row">
		<div class="col-md-8">
			<table class="table">
				<tbody class="table-striped">

					<!-- On cells (`td` or `th`) -->
					<tr>
					  <td class="active for">Nombre Video</td>
					</tr>
					
					<tr>
						
						<td class="success">
							<div class="checkbox">
								<label>
								 	<input type="checkbox" name="select_video" value="4soy14">
								4soy14
								</label>
							</div>
						</td>
					</tr>
					
						<tr>
						
						<td class="success">
							<div class="checkbox">
								<label>
								 	<input type="checkbox" name="select_video" value="soy13">
								   soy13
								</label>
							</div>
						</td>
					</tr>
					
						<tr>
						
						<td class="success">
							<div class="checkbox">
								<label>
								 	<input type="checkbox" name="select_video" value="soy12">
								    soy12
								</label>
							</div>
						</td>
					</tr>
					
						<tr>
						
						<td class="success">
							<div class="checkbox">
								<label>
								 	<input type="checkbox" name="select_video" value="soy1">
								    soy1
								</label>
							</div>
						</td>
					</tr>
					

				</tbody>
			</table>
			<input class="btn btn-success" type="submit" value="Cargar Lista">
		</div>	
	</div>
</form>
</div>
</body>
</html>


